<section class="pt8 ph2">
  <div class="container--s">
    <header class="clear">
      <h1 class="h2 bold float-l">Svbstrate</h1>
      <p class="c-theme float-r">
        <a href="https://github.com/estrattonbailey/svbstrate" class="icon inline-relative mr1 align-m">
          <svg viewBox="-9 0 266 270">
            <use x="0" y="0" xlink:href="#github"/>
          </svg>
        </a>
        <span class="inline-relative align-m mt025">v{{meta.version}}</span>
      </p>
      <hr>
      <p class="mt1">Svbstrate is a base set of atomic styles suitable for any project. What is here is easily configurable to suit your needs, and since it's built on SASS, it's easy to extend and build on. It's borrows a lot of its ideas from <a href="http://basscss.com">BASSCSS</a> and <a href="http://tachyons.io">Tachyons</a>, due credit to Brent and Adam for their work.</p>
      <a href="https://github.com/estrattonbailey/svbstrate" class="button mt2 mb2">
        <span class="inline-relative icon mr05 align-m">
          <svg viewBox="-9 0 266 270">
            <use x="0" y="0" xlink:href="#github-white"/>
          </svg>
        </span>
        <span class="inline-relative align-m bold">
          VIEW ON GITHUB
        </span>
      </a>
    </header>
    <h4 class="bold mt2 cg3">Table of Contents</h4>
    <ul class="toc mb2 list--reset">
      {{#each sections}}
        <li class="relative pv05">
          <a href="#{{handleize title}}" class="toc__link inline-relative"><h3 class="medium mx0">{{title}}</h3></a>
        </li>
      {{/each}}
    </ul>
  </div>
</section>

{{#each sections}}
  <section id="{{handleize title}}" class="pv4 ph2">
    <div class="container--s">
      <h2 class="medium">{{title}}</h2>
      {{markdown content}}
    </div>
  </section>
{{/each}}

